.registrarse:hover {
  background-color: black;
}
.header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #2f1c46;
}
.enlaces{
  width: fit-content;
}
.titulo{
  text-decoration: none;
}