header {
  background-color: #2f1c46;
}
.content {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
/*--------------------------------------------------------------
LandingHeader > enlaces
--------------------------------------------------------------*/
ul > .nav-item > a {
  text-decoration: none;
}
ul > .nav-item > a:hover {
  background-color: black;
}
.aboutUs:hover {
  background-color: black;
}
/*--------------------------------------------------------------
LandingHeader
--------------------------------------------------------------*/
