.wrapper{
    display: flex;
    flex-flow: column;
}
.inputmail{
    width: 50%;
    align-self: center;
    margin-top: 1rem !important;
    margin-bottom: 0.8rem;
}
.text-center>h3{
    margin-bottom: 1rem;
}
.btn{
    margin-top: 0 !important;
}